.categorias{
    color: var(--text-primary-color);
    font-size: 32px;
    display: block;
    width: 312px;
    height: 98px;
    margin: 88px 24px 32px;
}
.container-categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.icone{
    background-color: var(--background-secondary-color);
    width: 312px;
    height: 220px;
    display: block;
    text-align: center;
}
.icone img{
    margin-top: 41px;
}
.icone p{
    font-size: 28px;
    margin-top: 24px;
    color: var(--text-primary-color);
}