.categorias {
  color: var(--text-primary-color);
  font-size: 32px;
  display: block;
  width: 312px;
  height: 98px;
  margin: 88px 24px 32px;
}
.linha-unica{
  padding-top: 20px;
}
.transfer{
  padding-top: 45px;
}
.container-categorias {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
}
.icone {
  background-color: var(--background-secondary-color);
  width: 312px;
  height: 220px;
  border-radius: 16px;
  display: block;
  text-align: center;
}
.icone img {
  margin-top: 41px;
}
.icone p {
  font-size: 28px;
  margin-top: 24px;
  color: var(--text-primary-color);
}
@media screen and (min-width: 768px) {
  .categorias {
    display: inline;
    font-size: 32px;
  }
  .container-categorias {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .icone{
    width: 350px;
  }
}
@media screen and (min-width:1440px){
  .icone{
    width: 312px;
  }
  .container-categorias{
    flex-direction: row;
    gap: 24px;
  }
}
