.depoimentos-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.depoimentos-container article header p {
  font-size: 16px;
  line-height: 28px;
}
.depoimentos-container article footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.perfil-container {
  margin: 8px 24px 0 0;
}
.perfil-container h4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--title-weigth);
  margin: 7px 0 0 0;
}
.perfil {
  width: 86px;
  height: 86px;
  margin-top: 8px;
}
.estrelas {
  margin: 0;
}
.estrelas span {
  font-size: 32px;
  line-height: 32px;
  color:var(--secondary-color);
}

@media screen and (min-width: 1440px) {
  .depoimentos-container {
    flex-direction: row;
  }
}
