.destinos-populares {
  color: var(--text-primary-color);
  display: block;
  font-size: 32px;
  width: 100%;
  height: 98px;
  text-align: center;
  margin: 0 auto;
}
.itens-destinos {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 24px;
  padding-top: 20px;
}
.itens {
  width: 312px;
}
.itens h3 {
  margin: 24px 0;
}
.itens p {
  margin-bottom: 24px;
}
.itens footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.itens a {
  text-align: center;
}
.imagem-itens {
  width: 100%;
  height: 360px;
  margin-top: 32px;
}
.Tokyo {
  background: url(../img/destinos-populares-tokyo-bg.jpg) no-repeat center;
  background-size: cover;
}
.Osaka {
  background: url(../img/destinos-populares-osaka-bg.jpg) no-repeat center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .itens {
    width: 648px;
  }
  .Tokyo {
    background: url(../img/Tokyo-tablet-desktop.jpg) no-repeat center;
    background-size: cover;
  }
  .Osaka {
    background: url(../img/Osaka-tablet-desktop.jpg) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
  .itens-destinos {
    flex-direction: row;
    margin: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .itens-destinos {
    justify-content: center;
    gap: 45px;
  }
  .Osaka {
    margin-top: 20px;
  }
}
/* blog css */
.Hiroshima {
  background: url(../img/pasta-blog/Hiroshima.png) no-repeat center;
  background-size: cover;
}
.Kyoto {
  background: url(../img/pasta-blog/Kyoto.png) no-repeat center;
  background-size: cover;
}
.footer-kyoto{
  margin-bottom: 88px;
}
