.img-footer-japao{
    background: url(../img/japao-destino/Imagem-pré-rodapé-japao.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 400px;
}
@media screen and (min-width:1440px){
   .img-footer-japao{
    background: url(../img/japao-destino/Imagem-pré-rodapé-japao-desktop.png) no-repeat ;
    background-size: cover;
    height: 600px;
   } 
}