.baner{
    width: 100%;
    height: 400px;
    background: url(../img/baner-footer-mobile.png) no-repeat center;
    background-size: cover;
}
.footer-container{
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px 0;
    color: var( --text-secondary-color);
}
.footer-container img{
    margin-bottom: 16px;
}
.footer-container .footer-textos{
    text-align: center;
    font-size: 16px;
    gap: 8px;
    line-height: 28px;
    margin-bottom: 32px;
}
.footer-container .footer-textos p{
    margin-bottom: 8px;
}
.footer-container .sociais{
    text-align: center;
}
.footer-container .sociais p{
    margin-bottom: 16px;
}
.footer-container .sociais img{
    margin: 0 8px 32px;
}
