
.footer-container {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px 0;
  color: var(--text-secondary-color);
}
.footer-container .footer-logo {
  width: 160px;
  height: 40px;
  margin-bottom: 16px;
}
.footer-container .footer-textos {
  text-align: center;
  font-size: 16px;
  gap: 8px;
  line-height: 28px;
  margin-bottom: 32px;
}
.footer-container .footer-textos p {
  margin-bottom: 8px;
}
.footer-container .sociais {
  text-align: center;
}
.footer-container .sociais p {
  margin-bottom: 16px;
}
.footer-container .sociais img {
  margin: 0 8px 32px;
}
@media screen and (min-width: 1440px) {
  .footer-container {
    flex-direction: row;
    justify-content: start;
    gap: 20%;
  }
}
