@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;
  /* background */
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;
  /* textos */
  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  /* fontes */
  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* css reset */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "montserrat", sans-serif;
  color: var(--text-primary-color);
}
section {
  width: 312px;
  margin: 0 auto 88px;
}
section.hero{
  width: 100%;
  margin: 0;
}
.section-title{
  width: 270px;
  margin: 0 auto 32px;
}
.section-title h2 {
  font-weight: var(--title-weight);
  font-size: 28px;
  margin: 0;
  text-align: center;
}
.section-title hr {
  margin: 16px auto 32px;
  background-color: var(--secondary-color);
  width: 180px;
  height: 4px;
  border: none;
}
@media screen and (min-width: 768px) {
  section {
    width: 648px;
  }
  .section-title {
    width: 100%;
    margin: 0 auto 32px;
  }
}
@media screen and (min-width: 1024px) {
  section {
    width: 900px;
  }
  .section-title h2 {
    font-size: 32px;
  }
}
.section-title h2 {
  font-weight: var(--title-weight);
  font-size: 28px;
  margin: 0;
  text-align: center;
}
.section-title hr {
  margin: 16px auto 32px;
  background-color: var(--secondary-color);
  width: 180px;
  height: 4px;
  border: none;
}
.button {
  display: inline-block;
  line-height: 64px;
  width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  background-color: var(--secondary-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: var(--title-weight);
  border-radius: 10px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .button:hover {
    background-color: var(--primary-color);
  }
}
@media screen and (min-width: 1440px) {
  section {
    width: 1200px;
  }
}
