header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  background-color: var(--background-tertiary-color);
  position: relative;
}
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.navegaçao-menu {
  margin-top: 16px;
}
input[type="checkbox"]:checked ~ nav {
  display: block;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--background-tertiary-color);
}
nav {
  display: none;
}
.lista-links ul {
  list-style: none;
}
.lista-links li{
  margin: 16px 0;
}
.lista-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
}
