.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  background-color: var(--background-tertiary-color);
  position: relative;
}
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.img-mobile {
  display: block;
}
.img-desktop {
  display: none;
}
.navegaçao-menu {
  margin-top: 16px;
}
input[type="checkbox"]:checked ~ nav {
  display: block;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--background-tertiary-color);
}
nav {
  display: none;
}
.lista-links ul {
  list-style: none;
}
.lista-links li {
  margin: 16px 0;
}
.lista-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weigth);
}
@media screen and (min-width: 760px) {
  .main-header {
    align-items: center;
  }
  .navegaçao-menu {
    margin: 0;
    width: 467px;
  }
  .navegaçao-menu label {
    display: none;
  }
  .navegaçao-menu nav {
    display: block;
  }
  .navegaçao-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .navegaçao-menu li {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .main-header {
    padding: 38px 120px;
  }
  .logo {
    width: 260px;
    height: 64px;
  }
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
  }
  .lista-links a:hover {
    color: var(--primary-color);
    transition: 0.2s;
  }
}
@media screen and (min-width: 1920px) {
  .main-header {
    padding: 38px 165px;
  }
}
