.background-img {
  width: 100%;
  height: 400px;
  background: url(../img/Banner-homepage-mobile.jpg) no-repeat center;
  background-size: cover;
}
.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  text-align: center;
  font-weight: var(--text-weigth);
  font-size: 20px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .background-img {
    height: 620px;
    background: url(../img/banner-homepage-tablet.jpg) no-repeat center;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .background-img {
    background: url(../img/banner-homepage-desktop.png) no-repeat center;
    background-size: cover;
  }
  .hero h2 {
    padding: 104px 120px;
  }
}
@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 104px 160px;
  }
}
