.background-img {
  width: 100%;
  height: 400px;
  background: url(../img/Banner-homepage-mobile.jpg) no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .background-img {
    height: 620px;
    background: url(../img/banner-homepage-tablet.jpg) no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
  .background-img {
    height: 620px;
    background: url(../img/banner-homepage-desktop.png) no-repeat;
    background-size: cover;
  }
}
