.offers-cards {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.card {
  color: var(--text-secondary-color);
  padding: 24px 16px;
  width: 312px;
  height: 288px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 16px;
}
.japao {
  background: url(../img/bg-card-japao.png) no-repeat center;
  background-size: cover;
}
.san-andreas {
  background: url(../img/bg-card-san-andreas.png) no-repeat center;
  background-size: cover;
}
.paraiba {
  background: url(../img/bg-card-paraiba.png) no-repeat center;
  background-size: cover;
}
.manaus {
  background: url(../img/bg-card-manaus.png) no-repeat center;
  background-size: cover;
}
.card header {
  padding: 0;
  display: block;
  background-color: transparent;
  position: static;
}
.card header p {
  display: block;
  margin-bottom: 24px;
}
.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}
.card header span {
  display: inline-block;
  font-size: 32px;
  margin: 24px;
}
@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .offers-cards{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    width: 488px;
    height: 308px;
  }
  .card header h3 {
    font-size: 48px;
  }
  .card header span {
    font-size: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    width: 588px;
  }
}
@media screen and (min-width: 1920px) {
  .offers-cards {
    width: 1250px;
    margin: 0 auto;
  }
}

