.pagamentos {
  margin-top: 88px;
}
.conteudo-imagem {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 24px;
  height: 460px;
}
.large {
  grid-column: span 2;
}
.malas {
  background: url(../img/pagamentos-foto-1.png) no-repeat center;
  background-size: cover;
}
.passaporte {
  background: url(../img/pagamentos-foto-2.png) no-repeat center;
  background-size: cover;
}
.pessoas {
  background: url(../img/pagamentos-foto-3.png) no-repeat bottom;
  background-size: cover;
}
@media screen and (min-width:1024px){
  .pagamentos{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "titulo titulo"
    ".conteudo-texto "
    "texto imagem";
    gap: 24px;
    row-gap: 15px;
  }
  .section-title{
    padding: 10px;
    grid-area: titulo;
  }
  .conteudo-texto{
    grid-area: texto;
  }
  .conteudo-imagem{
    grid-area: imagem;
  }
}
